@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300,100|Pacifico);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background-color: black;
  font-family: 'Lato', sans-serif; }

#menu {
  position: fixed;
  width: 100%; }
  #menu ul {
    display: table;
    width: 100%;
    border-collapse: collapse;
    height: 55px; }
    #menu ul li {
      display: table-cell;
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      vertical-align: middle;
      position: relative; }
      #menu ul li a {
        position: relative;
        width: 100%;
        height: 100%;
        color: white; }
      #menu ul li a:hover, #menu ul li a:active {
        color: #509fe6; }
    #menu ul li.navSpace {
      width: 40%; }

#hamburger {
  color: white; }

.hidden {
  display: none; }

#overLogo {
  height: 70px;
  width: auto;
  margin-top: 20px;
  overflow: visible; }
  #overLogo g path {
    stroke-width: 5; }
  #overLogo .st0 {
    fill: rgba(250, 129, 139, 0.55);
    -moz-transform: translate(-70px, 120px) rotate(-37deg);
    -o-transform: translate(-70px, 120px) rotate(-37deg);
    -ms-transform: translate(-70px, 120px) rotate(-37deg);
    -webkit-transform: translate(-70px, 120px) rotate(-37deg);
    transform: translate(-70px, 120px) rotate(-37deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  #overLogo .st1 {
    fill: rgba(217, 238, 132, 0.55);
    -moz-transform: translate(20px, 220px) rotate(-90deg);
    -o-transform: translate(20px, 220px) rotate(-90deg);
    -ms-transform: translate(20px, 220px) rotate(-90deg);
    -webkit-transform: translate(20px, 220px) rotate(-90deg);
    transform: translate(20px, 220px) rotate(-90deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  #overLogo .st2 {
    fill: rgba(19, 226, 232, 0.54);
    -moz-transform: translate(470px, -80px) rotate(90deg);
    -o-transform: translate(470px, -80px) rotate(90deg);
    -ms-transform: translate(470px, -80px) rotate(90deg);
    -webkit-transform: translate(470px, -80px) rotate(90deg);
    transform: translate(470px, -80px) rotate(90deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  #overLogo .st3 {
    fill: rgba(150, 116, 185, 0.52);
    -moz-transform: translate(80px, 70px) rotate(90deg);
    -o-transform: translate(80px, 70px) rotate(90deg);
    -ms-transform: translate(80px, 70px) rotate(90deg);
    -webkit-transform: translate(80px, 70px) rotate(90deg);
    transform: translate(80px, 70px) rotate(90deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  #overLogo .st4 {
    fill: rgba(67, 100, 241, 0.56);
    -moz-transform: translate(560px, -20px) rotate(90deg);
    -o-transform: translate(560px, -20px) rotate(90deg);
    -ms-transform: translate(560px, -20px) rotate(90deg);
    -webkit-transform: translate(560px, -20px) rotate(90deg);
    transform: translate(560px, -20px) rotate(90deg);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }

#overLogo:hover path.st1, #overLogo:hover .st2, #overLogo:hover .st3, #overLogo:hover .st4, #overLogo:hover .st0 {
  -moz-transform: translate(0px, 0px) rotate(0deg);
  -o-transform: translate(0px, 0px) rotate(0deg);
  -ms-transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg); }

#slideMenu {
  display: none;
  position: fixed;
  height: 100%;
  background-color: #fff;
  width: 300px;
  margin-left: -300px; }
  #slideMenu ul {
    width: 100%;
    border-collapse: collapse; }
    #slideMenu ul li.slideLogo {
      height: 110px; }
    #slideMenu ul li {
      display: table;
      width: 100%;
      height: 50px;
      text-align: center;
      position: relative; }
      #slideMenu ul li a {
        color: black;
        display: table-cell;
        vertical-align: middle;
        border-collapse: collapse;
        border: 1px solid black; }
    #slideMenu ul li:not(:first-child):not(:last-child) a:active, #slideMenu ul li:not(:first-child):not(:last-child) a:hover {
      background-color: #e8e8e8;
      color: #509fe6; }
    #slideMenu ul li:nth-last-child(2) a {
      border-bottom: 2px solid #000; }
    #slideMenu ul li.social-menu {
      border-collapse: collapse;
      border-bottom: 2px solid #000; }
      #slideMenu ul li.social-menu a {
        border: none; }
        #slideMenu ul li.social-menu a i {
          color: rgba(0, 0, 0, 0.5);
          -webkit-transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
        #slideMenu ul li.social-menu a i.tw:hover, #slideMenu ul li.social-menu a i.tw:active {
          color: #00aced; }
        #slideMenu ul li.social-menu a i.ig:hover, #slideMenu ul li.social-menu a i.ig:active {
          color: #517fa4; }
        #slideMenu ul li.social-menu a i.fb:hover, #slideMenu ul li.social-menu a i.fb:active {
          color: #3b5998; }
        #slideMenu ul li.social-menu a i.gh:hover, #slideMenu ul li.social-menu a i.gh:active {
          color: #000; }
        #slideMenu ul li.social-menu a i.li:hover, #slideMenu ul li.social-menu a i.li:active {
          color: #007bb6; }
        #slideMenu ul li.social-menu a i.ri:hover, #slideMenu ul li.social-menu a i.ri:active {
          color: #ff4500; }

.toggleMenu {
  position: absolute;
  height: 70px;
  width: 100%;
  text-align: right;
  display: none; }
  .toggleMenu svg {
    padding-right: 20px;
    stroke-width: 20px;
    stroke: white;
    width: 40px;
    margin: auto;
    position: relative;
    padding-top: 10px;
    cursor: pointer; }

@media screen and (max-width: 768px) {
  #menu {
    display: none; }

  .toggleMenu {
    display: block;
    overflow: visible; }

  #slideMenu {
    display: block; }

  #overLogo {
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
    #overLogo path.st1, #overLogo .st2, #overLogo .st3, #overLogo .st4, #overLogo .st0 {
      -moz-transform: translate(0px, 0px) rotate(0deg);
      -o-transform: translate(0px, 0px) rotate(0deg);
      -ms-transform: translate(0px, 0px) rotate(0deg);
      -webkit-transform: translate(0px, 0px) rotate(0deg);
      transform: translate(0px, 0px) rotate(0deg); }

  #overLogo:hover {
    transform: scale(1.3); } }
.toggleAnimation #h-top {
  -moz-transform: translate(200px, -20px) rotate(45deg);
  -o-transform: translate(200px, -20px) rotate(45deg);
  -ms-transform: translate(200px, -20px) rotate(45deg);
  -webkit-transform: translate(200px, -20px) rotate(45deg);
  transform: translate(200px, -20px) rotate(45deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
.toggleAnimation #h-bot {
  -moz-transform: translate(-150px, 180px) rotate(-45deg);
  -o-transform: translate(-150px, 180px) rotate(-45deg);
  -ms-transform: translate(-150px, 180px) rotate(-45deg);
  -webkit-transform: translate(-150px, 180px) rotate(-45deg);
  transform: translate(-150px, 180px) rotate(-45deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

.normal #h-top {
  -moz-transform: translate(0px, 0px) rotate(0deg);
  -o-transform: translate(0px, 0px) rotate(0deg);
  -ms-transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
.normal #h-bot {
  -moz-transform: translate(0px, 0px) rotate(0deg);
  -o-transform: translate(0px, 0px) rotate(0deg);
  -ms-transform: translate(0px, 0px) rotate(0deg);
  -webkit-transform: translate(0px, 0px) rotate(0deg);
  transform: translate(0px, 0px) rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }

/*# sourceMappingURL=style.css.map */
